<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.domain.mapper.BoardMapper">
	
	<!-- 게시판 전체보기 -->
	<select	id="listAll" resultType="aaa.bbb.ccc.VO.BoardVO">
		<![CDATA[
		select *
		from board
		where board_num>0 
		order by board_num desc , regdate desc
	]]>		
	</select>
	<!-- 계시판 상세보기 -->
	<select	id="read" resultType="aaa.bbb.ccc.VO.BoardVO">
		select * from board where board_num = #{board_num}
	</select>
	
	<!-- 계시판 페이징 처리도 같이 된거 -->
	<select id="listPage" resultType="aaa.bbb.ccc.VO.BoardVO">
	<![CDATA[
		select *
		from board
		where board_num>0 
		order by board_num desc,regdate desc
		limit #{page},10
	]]>		
	</select>
	
	<select id="listCriteria" resultType="aaa.bbb.ccc.VO.BoardVO">
	<![CDATA[
		select *
		from board
		where board_num>0 
		order by board_num desc,regdate desc
		limit #{pageStart}, #{perPageNum}
	]]>		
	</select>
	
	<!-- 페이징 하단부분 클릭시 이동하는 부분 -->
	<select id="countPaging" resultType="int">
		<![CDATA[
			select count(board_num)
			from
				board
			where
			 board_num > 0
		]]>		
	</select>
	
	<!-- 조회수 카운팅 -->
	<update id="updateViewCnt">
		update board set viewcount = viewcount+1 where board_num = #{board_num}
	</update>

	
</mapper>