<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aaa.bbb.ccc.VO.MemberVO">
	
	<!-- 회원가입 -->
	<insert id="create">
		insert into member (mem_num, id, pass, koname, engname, gender, birth, tel ,email, passport, nation)
		 values (#{mem_num}, #{id}, #{pass}, #{koname}, #{engname}, #{gender}, #{birth}, #{tel}, #{email}, #{passport}, #{nation})
	</insert>
	
	<!-- 회원정보 읽기 -->
	<select	id="read" resultType="aaa.bbb.ccc.VO.MemberVO">
		select * from member where mem_num = #{mem_num} 
	</select>
	
	<!-- 회원 삭제 -->
	<delete id="remove">
		delete from member where id=#{id}
	</delete>
	
	<!-- 로그인 할떄 아이디와 비번이 맞는지 확인용 -->
	<select id="select2" resultType="aaa.bbb.ccc.VO.MemberVO">
		select * from member where id=#{id} and pass=#{pass}
	</select>
	
	<!-- 회원 정보 수정 -->
	<select id="update">
		update member set koname=#{koname}, engname=#{engname}, gender=#{gender}, birth=#{birth}, tel=#{tel}, email=#{email}, passport=#{passport}, nation=#{nation} where id=#{id}
	</select>
	
	<!-- 비번이 맞다면 삭제하게 하는거 -->
	<select id="checkPw" resultType="int">
		select count(*) from member where id=#{id} and pass=#{pass}
	</select>
	
	
	<!-- 아이디 중복 비교 작업  하는중 -->
	<select	id="loginc" resultType="aaa.bbb.ccc.VO.MemberVO">
		select * from member where id = #{id} 
	</select>
	
	<!-- 예약 페이지 이동시 불러오기  -->
	<select id=""></select>
	
	
</mapper>