@charset "UTF-8";

body {
	width:1200px;
	margin: 0 auto;
}

.header {
		
	background: #fe7088;
	width:1200px;
	height: 30px;	
	text-align: right;
	
}

.header>.header_line {
	display:inline-block;
	overflow:hidden;
	width:1px;
	height:12px;
	margin:2px;
	background:#F5F4F1;
	color:#F5F4F1;
	vertical-align:middle;
}

.header a{
	text-decoration: none;
	color: #F5F4F1;
	vertical-align: middle;
	font-size: 13px;
}


.header>ul>li {
	list-style: none;
	display: inline-block;	
}


/*-----nav -----*/

.nav {
width:1200px;
}




* {
    box-sizing: border-box;
}




/*메뉴바 속성 백그라운드, bottom 선 색상 수정 가능*/
.navbar {
    overflow: hidden;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    border-bottom: 3px solid #fe7088;
    width: 100%;
    
    
}



.navbar a {
    float: left;
    font-size: 16px;
    padding: 6px 20px;
    text-decoration: none;
}


.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content{  
	
	margin-top: -18px; /*하위메뉴가 달라붙어서 마진 으로 해결*/
	
}


/*드랍다운*/
.dropdown .dropbtn,.navbar_home a{
    font-size: 16px;    
    border: none;
    outline: none;   
    color: #252D2E;    
    padding: 15px 90px;
    background-color: inherit;
    font: inherit;
    margin: 0; 
}




/*메뉴바 클릭후 색상변경 속성*/
.navbar a:hover, .dropdown:hover .dropbtn {
    color: #fe5674; 
}


.dropdown-content {
    display: none;
    position: absolute;    
    width: 100%;
    left: 0;
    z-index: 13;   
}

.dropdown-content .menu_header {
    background: #F3F4F6;
    padding: 16px;
    height: 200px; 
    width: 100%;
    color: white;
    margin-top: 49.2px;
   
	
}

.dropdown:hover .dropdown-content {
    display: block;
    
}



#table { 
	display: table; width: 100%; 
	float: left; margin-left:635px; 
	
}  /*635px은 하위메뉴 위치 조정하는 거임 : 항공권 예매 위치*/
.row {
display: table-row; 

}

.row a{
text-decoration: none;
color: #252D2E;
font-size:14px;
font-weight: bold;

}

.row a:hover{
color: #fe7088;
}

.cell {display: table-cell;}
.col1 {width: 17%;} /*17은 하위메뉴 위치 조정하는 거임 : 마이페이지 위치*/
.col2 {width: 17.5%;} /*17.5은 하위메뉴 위치 조정하는 거임 : 기타페이지 위치*/



/*-----content -----*/
/*----- content 1  -----*/

.con1{
	
}


/*----- content 1 상단 메뉴바 -----*/

#content {
float:left;
width:100%;
}

#menubar{
	width: 278px;
	height: 367px;
	background-color: rgba(74,91,94,0.4); /* 맨끝 1로 투명도 조절*/	
	position: absolute;  	  
	z-index: 3; 	
	transform: translateX(360px);		
}


