@charset "UTF-8";


#loginformArea>span{	
	text-align: center;
}


.login_border {
	text-align: center;
	display: inline-block;
	width: 600px;
	height: 315px;
	border: 1px solid #f5f4f1;	
	background: #f5f4f1;
	margin-left: 300px;	
}

h2{
	text-align: center;
}

table{
	margin-top: 115px;
	margin-left: 130px;	
}



.button {
    background-color: #fe5674;
    color: #fff;
    border: 2px solid #fe5674;
	padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #fe5674;
    color: #fff;
    border: 2px solid #fe5674;
	padding: 16px 54px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}


.button:hover {
    background-color: #a73d57;
    color: #fff;
    border: 2px solid #a73d57;
}


a{
	text-decoration: none;
	color: #fff;
}